[submodule "src/.claude-prompts"]
	path = src/.claude-prompts
	url = https://github.com/motlin/claude-code-prompts.git
[submodule "src/.dotfiles"]
	path = src/.dotfiles
	url = https://github.com/motlin/dotfiles.git
[submodule "src/claude-code-plugins"]
	path = src/claude-code-plugins
	url = https://github.com/motlin/claude-code-plugins.git
