on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  eslint:
    permissions:
      pull-requests: read
      checks: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - uses: jdx/mise-action@v3

      - run: just lint-ci
        continue-on-error: true

      - uses: ataylorme/eslint-annotate-action@2.2.0

  typecheck:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - uses: jdx/mise-action@v3

      - run: just typecheck-ci

  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - uses: jdx/mise-action@v3

      - run: just test-run-ci

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - uses: jdx/mise-action@v3

      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          just download-data-ci
          just build-ci

      - uses: actions/upload-artifact@v5
        if: success()
        with:
          name: dist
          path: build/
          retention-days: 1

  all-checks:
    name: All checks
    needs: [eslint, typecheck, test, build]
    runs-on: ubuntu-latest
    steps:
      - run: echo "All checks passed!"

  automerge-dependabot:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Enable auto-merge for Dependabot PR
        run: gh pr merge --rebase --auto "${{ github.event.pull_request.number }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
